<link rel="stylesheet" href="/public/css/site.css">

<nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
  <div class="container-fluid">
      <form onsubmit="refreshTable('{{hostname}}','{{port}}')" class="form-inline" action="#">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Filter by Job_Ids (0-99)</span>
        </div>
        <input type="text" class="form-control" placeholder="Filter by ID" value="" aria-describedby="basic-addon1" id="filter">
        <button type="submit" id="filter" class="btn btn-success">Filter</button>
      </form>
  </div>
</nav>

<div class="container-fluid content" id="contentDiv" >
  <table id ="contentTable" class= "table table-hover">
    <tr>
      <th>position_name</th>
      <th>recruiter_name</th>
      <th>company_name</th>
      <th>briefing_call</th>
      <th>KPIs</th>
      <th>applicants</th>
    </tr>
  </table>
</div>

<script type="text/javascript" src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-latest.js"></script>

<script type="text/javascript" src="/public/js/site.js"></script>

<script type="text/javascript">

  //function to make calls to the apis and pass data recived to callback function
  function getDataFromAPI(hostname, port, id=-1, callback) {
    let Link;
    //const url = 'http://' + '192.168.1.46' + ':' + '9000';
    const url = 'http://' + hostname + ':' + port;
    if(id>-1)
    {
      Link = url + '/api/jobs/' + id + '/';
    }else{
      Link = url + '/api/jobs/';
    }
    const request = new XMLHttpRequest();
    request.onload = function () {
        if (request.readyState === 4 && request.status === 200) {
            let data = JSON.parse(request.responseText);
            if(typeof callback ==='function'){
              callback(data);
            }
        }else{
          return null;
        }
    };
    request.open("GET", Link, true);
    request.setRequestHeader("Content-Type", "application/json");
    request.send();
  }

  // triggers data update, deletes, rebuilds and repopulates the table
  function refreshTable(hostname, port) {
    let id;
    let data;
    const textData = document.getElementById('filter').value;
    if(textData==='*'||textData===''){
      id = -1;
    }else{
      id = parseInt(textData);
    }

    getDataFromAPI(hostname,port,id, function(obj){
      populateTable(obj);
    });
    return false;
  }

  // remove a specified html element
  function removeElement(elementId) {
    let element = document.getElementById(elementId);
    let parent = element.parentNode
    parent.removeChild(element);
    return parent;
  }

  // function takes the data from api, removes the old data, renews table element, runs the data though Handlebars helper to render the data.
  function populateTable(data){
    const contentDiv = removeElement('contentTable')
    contentDiv.innerHTML += generateNewTable();
    const template = Handlebars.compile(getTemplateString());
    if(data.length==undefined)
    {
      let templateData = template(data);
      document.getElementById('contentTable').innerHTML += templateData;
    }else{
      for(job in data){
      let templateData = template(data[job]);
      document.getElementById('contentTable').innerHTML += templateData;
    }
    }

  }
</script>

<script type="text/javascript">
  //document.addEventListener('DOMContentLoaded', function () {
  //  refreshTable('{{hostname}}','{{port}}')
  //  }, false);
  document.getElementById('filter').addEventListener("click", refreshTable('{{hostname}}','{{port}}'));
</script>

